# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


ava/linux/flutter/generated_plugin_registrant.cc
ava/linux/flutter/generated_plugin_registrant.h
ava/linux/flutter/generated_plugins.cmake
ava/macos/Flutter/GeneratedPluginRegistrant.swift
ava/windows/flutter/generated_plugin_registrant.cc
ava/windows/flutter/generated_plugin_registrant.h
ava/windows/flutter/generated_plugins.cmake
ava/web/flutter/generated_plugin_registrant.cc
ava/web/flutter/generated_plugin_registrant.h
ava/web/flutter/generated_plugins.cmake
ava/web/flutter/flutter_service_worker.js
ava/web/flutter/flutter_service_worker.js.map
ava/web/flutter/flutter_service_worker.dart.js

